//note on import we don't include the _

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "layout/header";

@import "pages/home";

@import "components/searchbar";
@import "components/topright-btns.scss";
@import "components/dropdown";
@import "components/hero";
@import "components/_features";
@import "components/popular";
@import "components/gifts";
@import "components/about";
@import "components/footer";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;400;700&display=swap');
@import url('https://kit.fontawesome.com/c8e4d183c');
