$color-cultured: #EFEFEF;
$color-pinetree: #25291C;
$color-orange: #D49700;
// $color-greenblue: #ABE188;

$color-lightgreen:#72B01D;
$color-greenblue: #DBF1CD;

$color-olivedrab: #3D3413;

$color-rhythm: #7D84B2;

$color-black: #100d05;

$color-alabaster:#F4F3EE;
$color-ligher-shadow:#F3F5F7;
$color-light-shadow :#E6EAEF;
$color-mid-shadow:#C1CBD7;

$font-gothic:('Playfair Display', serif);
