.feature {
    // margin: 0 2%;

    h3 {
        // text-align: center;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            
            margin: 0 5px;
            display: inline-block;
            fill: orange;
            height: 24px;
            width: 24px;

        }
    }


    &-txt {
        
        font-size: 1.3rem;
    }

}

.feature2 {
    margin: 0 5%;
}

