.about {


    &-container {
        background-color: $color-greenblue;
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-family: 'Playfair Display', serif;

    }

    &-content {

        width: 100%;

        h1 {
            margin-bottom: 1vw;
        }
        
        &-header {
            padding: 3vw 0px 20px 0;
            font-size: calc(12px + .6vw);
    

            font-weight: 200;
        }

        &-columns {

            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            &_col {
                // text-align: center;
                width: 22vw;
                margin-bottom: 4vw;


                &_middle {
                    margin: 0 1.3vw;
                }

                h1 {
                    font-size: calc(12px + .6vw);
                }

                span {
                    font-size: calc(12px + .3vw);
                    font-family: nunito;
                    line-height: 1.7vw;

                }
            }
        }
    }



    &-fern {


        img {
            mix-blend-mode: exclusion;
            
            // max-width: 250px;
            // min-width: 100px;
            width: 100%;
            height: 100%;
        }
        
    }

    &-actioncall {
        // display: inline-block;
        &_button {

            display: inline-block;
            padding: 10px 20px;
            border-radius: 300px;
            font-family: nunito;
            font-size: 1.3rem;

            background-color: black;
            text-decoration: none;
            color: white;
            margin-bottom: 20px;
            transition: all .2s;
            // text-transform: uppercase;


            &:hover {
                transform: translateY(-.3rem);
        
                /* creating a shadow on hover..takes three values, x, y and colour (including opacity) */
                box-shadow: 0 1rem 2rem rgba(black,.2); 
                
                &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                    }

            }

            &:active {
                transform: translateY(-.1rem);
                /* decreasing the shadow for onclick  */
                box-shadow: 0 .5rem 1rem rgba(black,.2) 
            }

            &::after {
                /* all after pseudoclasses require a content propery, can be empty: */
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                border-radius: 10rem;
                position: absolute;
                top: 0;
                left: 0;
        
                /* this puts the after pseudoclass behind the button */
                z-index:-1;
        
                /* the transition here refers to all changes that are made from this state */
                transition: all .3s ;
                
            }
        


        }
    }



}


