


.dropdown {
    background: #1F180A;
    display: flex;

    justify-content: center;

    .spacer {
        width: 4rem;
    }


    &:after {
        content: '';
        clear: both;
        display: block;

    }

    
    & > ul > li {
        float: left;
        position: relative;
        // margin: 0 1rem;
    
    }
    
    ul {
        list-style: none;
        margin: 0;
        // padding-left: 30%;
        // padding-right: 30%;


        & li a{
            text-decoration: none;
            font-size: 1.2rem;
            color: white;
            padding: 15px 2vw;
            display: block;
        }
    
        & li:hover a{
            background: $color-rhythm;
        
        }
    
        & ul {
            position: absolute;
            padding: 0;
            min-width: 15vw;
            display: none;
            // top: 100%;
            // left: 4px;
    
            & li:hover a{
                background: #1F180A;
            }
    
            & li {
                position: relative;
                width: 100%;
            
            }
        
            & ul {
                top: 0;
                left: 100%;
        
                & li:hover a {
                    background: $color-rhythm;
                
                }
        
            }
        
        }
    
        & li:hover > ul {
            display: block;
        
        }

    }

}

