footer {
    background-color: $color-black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;


    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .f-logo {

        position: relative;

        img {
            position: absolute;


        }

        .greenlogo {
            opacity: 0;

            &:hover {
                opacity: 100%;
            }
        }

        .orangelogo{

            z-index: 3;

            &:hover {

                opacity: 0;
                z-index: -3;
                
            }

        }
        

        






        // color: $color-light-shadow;
        // letter-spacing: 2px;
        // padding: 5px 10px;
        // font-size: 25px;
        
    }

    .ftr-section {

        display: flex;
        justify-content: space-between;
        padding: 3% 0px;
        margin: 5px;
        width: 80%;
        flex-wrap: wrap;
        
        
        ul {
            font-family: nunito;
            margin: 0px;
            padding: 0px 20px;
        }

        h1 {
            color: $color-light-shadow;
            font-size: 20px;
            font-family: $font-gothic;
        }

        ul li a {
            font-size: 16px;
            color: $color-mid-shadow;

            &:hover {
                color:$color-lightgreen;
            }

        }

        ul li p{
            margin-top: 10px;
            font-size: 14px;
            color: $color-mid-shadow;
            line-height: 14px;

        }
    }

    .up-section {
        border-bottom: 1px solid $color-rhythm;
    }

    .social-icons {
        display: flex;
        margin-top: 10px;

        a {
            width: 35px;
            height: 35px;
            margin: 0px 5px;
            background-color: #1F190A;
            box-shadow: 2px 2px 12px rgba($color: #000000, $alpha: 1.0);
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color:$color-lightgreen;
                transition: all ease 0.5s;

                i {
                    color: #F3EFF5;
                }
            }

        }

        i {
            color:$color-orange;
            font-size: 14px;
        }
    }

    .search {
        
        input {
            height: 35px;
            width: 200px;
            text-align: center;
            border: none;
            outline: none;

            margin-top: 10px;
        }
    }

    .copyright {
        font-family: $font-gothic;
        font-size: 12px;
        color: #F3EFF5;

    }
}

@media(max-width:1024px) {

    .search {
        margin: 20px auto;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        h1 {
            margin: 20px;

        }
    }
}

@media(max-width:720px) {
    .ftr-section {
        flex-direction: column;
        align-items: center;
        text-align: center;

        ul {
            
            h1 {
                font-size: 25px;
            }

            li {
                text-align: center;
                margin: 10px;

                a {
                    font-size: 20px;
                }
            }
        }

    }
    .search {
        display: block;
    }
}