

.hero-grid-left {
    display: grid;
    grid-template-columns: minmax(120px, max-content) 1fr;
    // height: 100vh; /* new */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;

    a {
        text-decoration: none;
        color: black;
    }




    img {
        max-width: 600px;
        min-width: 215px;
        width: 100%;
        height: auto;
        // vertical-align: bottom;


    }

    &__txt {
        width: 100%;
        height: 100%;
        background-color: #FEBE5D;
        // margin-right: 90px;
        display:table;
        // position: relative;


        .txt {
            text-align: center;
            vertical-align:middle; /*middle centred*/
            font-size: 1.5rem;
            display:table-cell; /*acts like a table cell*/
            
            padding: 80px;
            // position: absolute;
            // left: 50%;
            // margin-left: -50px;

            // margin-top: -50px;

            .title {
                display: block;

                &2 {
                    display: block;
                    font-family: 'oleo script';
                    font-size: 4rem;
                }
            }

            .br {
                height: 20%;
            }

            .sub-heading {
                font-size: 1.6rem;

            }

            svg {
                width: 1.9rem;
            }




    
        }
    

    }




  }

  .hero-grid-right {

        margin-left: 2%;
        display: flex;
        flex-flow: column;
        overflow: hidden;

        a {
            text-decoration: none;
            color: black;
        }









        &__txt {
            width: 100%;
            height: auto;
            background-color: #FEBE5D;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 3%;
            border-radius: 5px;
            text-align: center;
            // font-size: .9rem;


            


            h2 {

                margin: 0 3rem;
                // font-weight: 400;
                font-size: 1.3rem;

                
                svg {
                    width: 1.9rem;
                }


        
            }
            

            

        }



    img {
        max-width: 315px;
        width: 100%;
        height: auto;
        border-radius: 5px;
        // transform: scale(.8);
        // vertical-align: bottom;

    }


      &__img {
        //   background-image: url(../../img/maskgirl_hero.png);
        //   background-size: cover;
        //   background-position: top;



        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: top;
        // width: 100%;
        // height: 0;

        // &__hide {
        //     visibility: hidden;
        // }









        //   min-height: 20rem;
        //   min-width: 40rem;
      }


  }


