.popular-heading {
    font-size: 1.6rem;
}


.popular {


    .carousel {
        max-width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    &-item {

        text-align: left;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        position: relative;
        margin-bottom: 30px;

        





        &__image {



            img {
                max-width: 250px;
                min-width: 150px;
                width: 100%;
                height: auto;
                transition: all .2s ease;

                &:hover {

                   
                    -webkit-box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.74);
                    -moz-box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.74);
                    box-shadow: 0px -1px 6px -1px rgba(0,0,0,0.74);


                }


            }
        }

        &__info {

            text-decoration: none;
            display: inline-block;

            .title {
                font-size: 1.3rem;
                font-weight: 400;
                

                color: #000;
                
            }

            .vendor {
                font-size: 1rem;
                // padding-bottom: 30px;
                padding-top: 2px;
            }


            .rating-section {
                
                width: 100%;
                display: flex;
                align-items: center;
                margin: 5px 0;
                // justify-content: space-between;

                span {


                }
            }

            .rating {
                // position: relative;
                // top: 20px;
                // float: left;
                margin: 0;
                padding: 0;

                li {
                    float: left;
                    display: block;
                    height: 16px;
                    width: 16px;
                    margin-left: 5px;
                    background: url("https://designmodo.com/demo/ecommerce-css3/img/stars.png") no-repeat 0 0;

                }

                li:first-child {
                    margin-left: 0;
                }

                li.rated {
                    background-position: 0px -16px;
                }
            }

            .ratings {
                padding: 3px 0px 0px 2px;

            }


            .price {
                font-weight: bold;
                font-size: 1.4rem;
                color: black;
            }
        }
    }
}