.nav-form {

    // height: 40px;
    padding:10px;
    border-radius: 40px;
    background-color:$color-cultured;
    // border: 1px solid rgba($color-pinetree, .4);
    transition: all .2s;
    box-shadow: inset 0 1px 2px 1px rgba($color-pinetree, $alpha: .1);

    

    &:hover {   
        box-shadow: inset 0 1px 2px 1px rgba($color-pinetree, $alpha: .3);

    }


    &-search {

        display: flex;


        svg {
            width: 2.5rem;
            margin-top: 2px;
            margin-right: 10px;
    
        }
        




        &__input {
            border:none;
            width: 60vw;
            // width: auto;
            background: none;
            outline: none;
            padding-left:2rem;

            font-size: 1.6rem;
            transition: 0.4s;
            line-height: 30px;





        }
    }

    // &-search svg {
    //     width: 2.5rem;
    //     margin-top: 2px;
    //     margin-right: 10px;

    // }

}

// svg:not(:root) {
//     overflow: hidden;
// }