.nav-container {

    &-upper {
        margin-top: 1rem;

    }

    &-lower {
        margin-top: 2rem;

    }
}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;





    &-buttons {
        margin-left: 2rem;
        // width;

    }

    &-logo {

        // width: 10%;
        padding-right: 2px;
        text-align: center;
        


    }

    img {
        // width: 100px;
        height: auto;
        max-width:70%;
        min-width: 50px;

        // height:auto;

    }

}

.heading-primary {
    // margin-top: 3rem;
    margin: 5rem 0;
    text-align: center;
    font-size: 1.9rem;

    font-family: 'Playfair Display', serif;
    font-weight: 200;

}


.hero-grid {

    display: flex;

    justify-content: center;

}
